Repository docker-java/docker-java, pull requests merged in 2020-11, with the labels that each got.

#1483 Fix sporadic failures of AttachContainerCmdIT tests
  docker-java/src/test/java/com/github/dockerjava/cmd/AttachContainerCmdIT.java
  docker-java/src/test/resources/attachContainerTestDockerfile/echo.sh
Labels: type/housekeeping

#1494 Preserve the order of requests to Docker daemon using DefaultInvocationBuilder (#1492)
  docker-java-transport-jersey/src/main/java/com/github/dockerjava/jaxrs/JerseyDockerHttpClient.java
  docker-java/src/test/java/com/github/dockerjava/cmd/AttachContainerCmdIT.java
Labels: transport/jersey, type/housekeeping

#1476 Fix "docker-java-stream" thread stuck at UnixDomainSocket.recv()
  docker-java-transport-httpclient5/src/main/java/com/github/dockerjava/httpclient5/UnixDomainSocket.java
  docker-java-transport-okhttp/src/main/java/com/github/dockerjava/okhttp/UnixDomainSocket.java
Labels: transport/httpclient5, transport/okhttp, type/bug

#1474 Allow configuring http connection pool size
  .gitignore
  docker-java-transport-httpclient5/src/main/java/com/github/dockerjava/httpclient5/ApacheDockerHttpClient.java
  docker-java-transport-httpclient5/src/main/java/com/github/dockerjava/httpclient5/ApacheDockerHttpClientImpl.java
  docker-java-transport-httpclient5/src/main/java/com/github/dockerjava/httpclient5/ConnectionPoolConfig.java
  docker-java-transport-zerodep/src/main/java/com/github/dockerjava/httpclient5/ZerodepDockerHttpClient.java
Labels: transport/httpclient5, type/enhancement

#1501 Make max connections configurable
  .gitignore
  docker-java-transport-httpclient5/src/main/java/com/github/dockerjava/httpclient5/ApacheDockerHttpClient.java
  docker-java-transport-httpclient5/src/main/java/com/github/dockerjava/httpclient5/ApacheDockerHttpClientImpl.java
  docker-java-transport-jersey/src/main/java/com/github/dockerjava/jaxrs/JerseyDockerHttpClient.java
  docker-java-transport-zerodep/src/main/java/com/github/dockerjava/httpclient5/ZerodepDockerHttpClient.java
  docker-java/src/test/java/com/github/dockerjava/cmd/LogContainerCmdIT.java
  docker-java/src/test/java/com/github/dockerjava/core/DockerRule.java
Labels: transport/httpclient5, transport/jersey

#1495 pass request body as `byte[]` where possible
  docker-java-core/src/main/java/com/github/dockerjava/core/DefaultInvocationBuilder.java
  docker-java-transport-httpclient5/src/main/java/com/github/dockerjava/httpclient5/ApacheDockerHttpClientImpl.java
  docker-java-transport-jersey/src/main/java/com/github/dockerjava/jaxrs/JerseyDockerHttpClient.java
  docker-java-transport-okhttp/src/main/java/com/github/dockerjava/okhttp/OkDockerHttpClient.java
  docker-java-transport/src/main/java/com/github/dockerjava/transport/DockerHttpClient.java
Labels: transport/httpclient5, transport/jersey, transport/okhttp, type/enhancement

#1463 add support for docker-for-windows new bind serialization format
  docker-java-api/src/main/java/com/github/dockerjava/api/model/Bind.java
  docker-java/src/test/java/com/github/dockerjava/api/model/BindTest.java
Labels: os/win, resolution/acknowledged

#1506 Replace AuthConfig toString implementation
  docker-java-api/src/main/java/com/github/dockerjava/api/model/AuthConfig.java
  docker-java/src/test/java/com/github/dockerjava/api/model/AuthConfigTest.java
Labels: type/bug
